
@{
    ViewBag.Title = "Al geregistreerd";
}

<div class="container">
    <h2>Al geregistreerd</h2>

    <p>
        U heeft zich al op dit tijdstip geregistreerd. Probeer het nogmaals op een ander moment.
    </p>
</div>


