
@{
    ViewBag.Title = "Bedankt";
}

<div class="container" style="background-color: rgba(255,255,255, 0.9); padding: 2em 2em;">
    <h2>Bedankt</h2>

    <p>
        Dank u wel voor de registratie. Er is een bevestiging met toegangsbewijs gestuurd naar het door up opgegeven email adres.
    </p>
</div>
