
@{
    ViewBag.Title = "Bevesting";
}

<div class="container">
    <div class="col-md-12" style="background-color: rgba(255,255,255, 0.9); padding: 15px;">
        <h2>Bedankt voor jouw aanvraag</h2>

        <p>
            Er is een email verstuurd naar het door jou opgegeven adres met het verzoek de registratie te bevestigen.
        </p>
        <a href="/Home" class="btn btn-primary">Terug naar de homepage</a>
    </div>
</div>
