@model Dumpwinkel.Web.Models.CalendarViewModel

@{
    ViewBag.Title = "Home Page";

    var getDate = DateTime.Now;

    var firstDayOfTheMonth = new DateTime(getDate.Year, getDate.Month, 1);

    DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek + 1);
}


<div class="container">
    <div class="row">
        @foreach (var month in Model.CalendarMonths)
        {
            <div class="col">
                <table class="booking-calendar">
                    <caption>@month.Title</caption>
                    <thead>
                        <tr>
                            <th>MA</th>
                            <th>DI</th>
                            <th>WO</th>
                            <th>DO</th>
                            <th>VR</th>
                            <th>ZA</th>
                            <th>ZO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 0; i < 42; i++)
                            {

                                if (i % 7 == 0 && i > 0)
                                {
                                @:</tr><tr>
                                }
                                if (month.CalendarDays[i].IsAvailable)
                                {
                                    <td><a href="#" class="available" data-id="@month.CalendarDays[i].Date">@(month.CalendarDays[i].IsVisible ? month.CalendarDays[i].Date.Day.ToString() : " ")</a></td>
                                }
                                else
                                {
                                    <td>@(month.CalendarDays[i].IsVisible ? month.CalendarDays[i].Date.Day.ToString() : " ")</td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<!-- Evetnts Dialog -->
<div class="modal fade" id="dlg-events" tabindex="-1" role="dialog"
     aria-labelledby="dlg-events-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dlg-events-label"></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Afsluiten">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <table id="events-table" class="table table-sm table-hover">
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Afsluiten</button>
                
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
    $(function () {
        $('a.available').click(function (e) {

            $('#events-table tbody').empty();

            var date = $(this).attr('data-id');

            $('#dlg-events-label').text(date);
            $.getJSON('/api/event', { date: date }, function (result) {
                $.each(result, function (index, event) {
                    var row = $('<tr />').attr('data-id', event.Id).click(function (e) {
                        window.location.href = '/registration/Create/' + event.Id;
                    });
                    var timeRange = $('<td />').addClass('timeRange').text(event.StartTime + ' - ' + event.EndTime);
                    var maxPersons = $('<td />').addClass('maxPersons').text("Nog " + event.MaxPersons + " plaatsen");
                    row.append(timeRange);
                    row.append(maxPersons);
                    $('#events-table tbody').append(row);

                    $('#dlg-events').modal('show');
                });
               
            });
        });
    });
</script>
}
