<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dumpwinkeltest.zwd.deeekhoorn.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>IS-TEST-03</MSDeployServiceURL>
    <DeployIisAppPath>De Eekhoorn Dumpwinkel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>B_Raymond@zwd.deeekhoorn.com</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ADConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://dc-eek-zwd-15:389" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://dc-eek-zwd-15:389" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="default" Order="2" Enabled="False">
          <Destination Path="Data Source=SRV-EEK-ZWD-07;Initial Catalog=Dumpwinkel_Prod;Persist Security Info=True;User ID=SADumpwinkel;Password=SA32dumpwinkel" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SRV-EEK-ZWD-07;Initial Catalog=Dumpwinkel_Prod;Persist Security Info=True;User ID=SADumpwinkel;Password=SA32dumpwinkel" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=SRV-EEK-ZWD-07;initial catalog=Dumpwinkel_Prod;persist security info=True;user id=SADumpwinkel;password=SA32dumpwinkel" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ADConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="default-Web.config Connection String">
      <ParameterValue>Data Source=SRV-EEK-ZWD-07;Initial Catalog=Dumpwinkel_Prod;Persist Security Info=True;User ID=SADumpwinkel;Password=SA32dumpwinkel</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>