@model Dumpwinkel.Web.Areas.Admin.Models.SettingViewModel

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    

    <div class="ml-md-0 mr-md-0">
        <div class="col-md-12" style="background-color: rgba(255,255,255, 0.9); color: @ViewBag.IntroTextColor; padding: 15px 30px;">
            <h2>Informatie</h2>
            <p>@Html.Raw(ViewBag.InfoText)</p>
            <a href="/Home" class="btn btn-primary">Terug naar de homepage</a>
        </div>
    </div>
</div>



