@model Dumpwinkel.Web.Models.CheckinViewModel


@{
    ViewBag.Title = "Checkin";

    var getDate = DateTime.Now;

}




<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2 style="color: #333333; background-color: #ffffff;">Checkin @getDate.ToLongDateString()</h2>

            @using (Html.BeginForm("Checkin", "Checkin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.EditorFor(model => model.RegistrationId, new { htmlAttributes = new { @class = "form-control", @style = "max-width: unset;" } })

                </div>

                <!--
                <div class="form-group">
                    <input type="button" class="btn btn-dark mx-auto" value="Checkin" />
                </div>
                -->

                <div class="card d-none" id="result">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <dl class="dl-horizontal">

                                    <dt>
                                        Timeslot
                                    </dt>
                                    <dd class="timeslot">

                                    </dd>
                                    <dt>
                                        Naam
                                    </dt>
                                    <dd class="name">

                                    </dd>
                                    <dt>
                                        E-mail
                                    </dt>
                                    <dd class="email">

                                    </dd>
                                    <dt>
                                        Plaats
                                    </dt>
                                    <dd class="city">

                                    </dd>
                                    <dt>
                                        Postcode
                                    </dt>
                                    <dd class="postcode">

                                    </dd>

                                </dl>
                            </div>
                            <div class="col-md-3">
                                <span class="number_of_visitors" style="font-size: 108px; font-weight: 600;"></span>
                            </div>
                        </div>

                        <a id="accept-ticket" class="btn btn-dark" href="#">Accepteren</a>
                        <a id="deny-ticket" class="btn btn-dark" href="#">Weigeren</a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<!-- Sound effects -->
<audio id="notify" src="~/Content/sounds/Windows Notify System Generic.wav"></audio>
<audio id="alarm" src="~/Content/sounds/Windows Hardware Fail.wav"></audio>


@section scripts
{
    <script type="text/javascript">

        var registrationId;

        function capitalize(s) {
            if (typeof s !== 'string') return '';
            return s.charAt(0).toUpperCase() + s.slice(1);
        }

        $(function () {
            $("#RegistrationId").val("").focus();

            $("form").submit(function (e) {
                e.preventDefault();

                registrationId = $('#RegistrationId').val();

                $.post('/api/registration/checkin/' + $('#RegistrationId').val(), function (result) {

                    var audio = document.getElementById("notify");
                    audio.play();

                    $('#accept-ticket').addClass('d-none');
                    $('#deny-ticket').addClass('d-none');
                    $('#result .timeslot').text(result.data.timeslot);
                    $('#result .name').text(result.data.name);
                    $('#result .email').text(result.data.email);
                    $('#result .city').text(result.data.city);
                    $('#result .postcode').text(result.data.postcode);
                    $('#result .number_of_visitors').text(result.data.number_of_visitors);
                    $('#result .card-header').text(result.message.description);
                    $('#result').addClass('text-white bg-success').removeClass('d-none bg-danger');

                    $('#RegistrationId').val("").focus();
                })
                    .fail(function (result) {

                        var audio = document.getElementById("alarm");
                        audio.play();

                        var status = result.responseJSON.message.status;
                        
                        if (status == 600 || status == 601) {
                            $('#accept-ticket').removeClass('d-none');
                            $('#deny-ticket').removeClass('d-none');
                            $('#result .timeslot').text(result.responseJSON.data.timeslot);
                            $('#result .name').text(result.responseJSON.data.name);
                            $('#result .email').text(result.responseJSON.data.email);
                            $('#result .city').text(result.responseJSON.data.city);
                            $('#result .postcode').text(result.responseJSON.data.postcode);
                            $('#result .number_of_visitors').text(result.responseJSON.data.number_of_visitors);
                            
                        }
                        if (status == 602) {

                            $('#accept-ticket').addClass('d-none');
                            $('#deny-ticket').addClass('d-none');
                            
                        }
                        $('#result .card-header').text(result.responseJSON.message.description);
                        
                        $('#result').addClass('text-white bg-danger').removeClass('d-none bg-success');

                        $('#RegistrationId').val("").focus();

                    });
            });

            $('#accept-ticket').click(function (e) {
                e.preventDefault();

                $.post('/api/registration/accept/' + registrationId, function (result) {

                    var audio = document.getElementById("notify");
                    audio.play();

                    $('#accept-ticket').addClass('d-none');
                    $('#deny-ticket').addClass('d-none');
                    $('#result .timeslot').text(result.data.timeslot);
                    $('#result .name').text(result.data.name);
                    $('#result .email').text(result.data.email);
                    $('#result .city').text(result.data.city);
                    $('#result .postcode').text(result.data.postcode);
                    $('#result .number_of_visitors').text(result.data.number_of_visitors);
                    $('#result .card-header').text(result.message.description);
                    $('#result').addClass('text-white bg-success').removeClass('d-none bg-danger');

                    $('#RegistrationId').val("").focus();

                    // $('#result').addClass('d-none');
                });

                
            });

            $('#deny-ticket').click(function (e) {
                e.preventDefault();
                $.post('/api/registration/deny/' + registrationId, function (result) {

                    var audio = document.getElementById("alarm");
                    audio.play();

                    $('#accept-ticket').addClass('d-none');
                    $('#deny-ticket').addClass('d-none');
                    $('#result .timeslot').text(result.data.timeslot);
                    $('#result .name').text(result.data.name);
                    $('#result .email').text(result.data.email);
                    $('#result .city').text(result.data.city);
                    $('#result .postcode').text(result.data.postcode);
                    $('#result .number_of_visitors').text(result.data.number_of_visitors);
                    $('#result .card-header').text(result.message.description);
                    $('#result').addClass('text-white bg-danger').removeClass('d-none bg-success');

                    $('#RegistrationId').val("").focus();

                    // $('#result').addClass('d-none');
                });
            });
        });

    </script>
}

